@import url(common.less);

.menu{
	width: 260px;
	margin-left: 50px;
	margin-top: 50px;
	> ul >li{
		position: relative;
		width: 240px;
		/* height: 50px; */
		line-height: 50px;
		/* background: #ec7b3e; */
		 background: #fe7300; 
		cursor: pointer;
		>a{
			display: inline-block;
			border-bottom: 1px solid #de6a0a;
			height: 54px;
			width: 240px;
			padding-left: 20px;
			color: #fff;
			text-decoration: none;
			font-size: 18px;
			font-family: "MicrosoftYahei";
			outline: none;
			box-sizing: border-box;
			.menu-icon{
				font-size: 20px;
				padding-right: 8px;
			}
		}
		> ul {
			/* background: #de743b; */
			background: #fff;
			display: none;
			/* background: #f69865; */
			>li.item{
				height: 50px;
				line-height: 50px;
				padding-left: 48px;
				box-sizing: border-box;
				/* border-bottom: 1px solid #de6a0a; */
				> span.doc{
					display: inline-block;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #fff;
					margin-left: 35px;
					margin-right: -43px;
				}
				a{
					text-decoration: none;
					color: #000;
					font-size: 16px;
					font-family: "MicrosoftYahei";
					outline: none;
					display: inline-block;
					width: 190px;
				}
			}
			>li.active{
				background: #fff6f1;
				border-left: 2px solid #fe7300;
				padding-left: 47px;
			}
		}
		&:after{
			position: absolute;
			top:26px;
			right: 8px;
			margin-top:-6px;
			border:7px solid transparent;
			border-left: 7px solid #fff;
			content: '';
		}
	}
	> ul >li.active-li{
		&:after{
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); 	/* IE 9 */
			-moz-transform:rotate(90deg); 	/* Firefox */
			-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
			-o-transform:rotate(90deg); 	/* Opera */
		}
	}
}