body {
  line-height: 1.4;
  color: #333;
  font-family: arial;
  font-size: 12px;
  background: white;
}
body input,
body textarea,
body select {
  font-size: 12px;
  font-size: 100%;
  font-family: arial;
  font-family: inherit;
}
body h4,
body h5,
body h6 {
  font-size: 1em;
}
body ul,
body ol {
  padding-left: 0;
  list-style-type: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
/*image with no-border*/
a img {
  border: 0;
}
img {
  border: 0;
}
.main {
  height: 100%;
  padding-top: 50px;
}
.main .main-con {
  width: 100%;
  max-width: 1020px;
  min-height: 600px;
  min-width: 840px;
  margin: 0 auto;
  padding: 0;
}
.main .main-con .con-left {
  height: auto;
  padding: 0;
  margin-top: 14px;
}
.main .main-con .con-left .menu {
  /* >ul >li.has-child{
					position: relative;
					> span.sec{
						
					}
					
				} */
}
.main .main-con .con-left .menu > ul > li {
  width: 100%;
  line-height: 46px;
  position: relative;
}
.main .main-con .con-left .menu > ul > li > a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-family: "MicrosoftYahei";
  display: inline-block;
  width: 100%;
  height: 46px;
  line-height: 45px;
  border-bottom: 1px solid #e7e7e7;
  outline: none;
}
.main .main-con .con-left .menu > ul > li > a > i {
  color: #999;
  font-size: 18px;
  width: 37px;
  padding: 0 14px 0 5px;
}
.main .main-con .con-left .menu > ul > li ul {
  display: none;
}
.main .main-con .con-left .menu > ul > li ul > li {
  width: 100%;
  line-height: 40px;
  padding-left: 36px;
}
.main .main-con .con-left .menu > ul > li ul > li a {
  color: #666;
  font-size: 16px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-family: "MicrosoftYahei";
  outline: none;
}
.main .main-con .con-left .menu > ul > li ul > li:hover a {
  color: #666;
  text-decoration: none;
  font-weight: normal;
}
.main .main-con .con-left .menu > ul > li ul > li.active-sec {
  background: #fff6f1;
  border-left: 4px solid #ff6f3d;
  padding-left: 32px;
}
.main .main-con .con-left .menu > ul > li ul > li.active-sec > a {
  color: #000;
  text-decoration: none;
}
.main .main-con .con-left .menu > ul > li span.sec {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 2px;
  cursor: pointer;
  width: 32px;
  text-align: center;
}
.main .main-con .con-left .menu > ul > li span.sec i {
  color: #999;
}
.main .main-con .con-left .menu > ul > li > span.click-span {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}
.main .main-con .con-left .menu > ul > li.active > a,
.main .main-con .con-left .menu > ul li:hover > a,
.main .main-con .con-left .menu > ul > li.active > span.sec,
.main .main-con .con-left .menu > ul li:hover > span.sec {
  color: #ff6f3d;
  font-weight: bold;
  display: inline-block;
}
.main .main-con .con-left .menu > ul > li.active > a i,
.main .main-con .con-left .menu > ul li:hover > a i,
.main .main-con .con-left .menu > ul > li.active > span.sec i,
.main .main-con .con-left .menu > ul li:hover > span.sec i {
  color: #ff6f3d;
}
.main .main-con .con-left .menu > ul > li:hover > span.sec {
  display: block;
}
.main .main-con .con-left:after {
  content: '';
}
