@import url(common.less);

.menu{
	width: 260px;
	margin-left: 50px;
	margin-top: 50px;
	> ul >li{
		position: relative;
		width: 240px;
		/* height: 50px; */
		line-height: 50px;
		/* background: #ff6f3d; */ 
		cursor: pointer;
		>a{
			display: inline-block;
			border-bottom: 1px solid #e7e7e7;
			height: 54px;
			width: 240px;
			/* padding-left: 20px; */
			color: #333;
			text-decoration: none;
			font-size: 18px;
			font-family: "MicrosoftYahei";
			outline: none;
			box-sizing: border-box;
			i.menu-icon{
				font-size: 20px;
				padding-right: 8px;
				color: #999;
				/* padding-left: 22px; */
				padding-right: 18px;
			}
		}
		> ul {
			background: #fff;
			display: none;
			>li.item{
				height: 50px;
				line-height: 50px;
				padding-left: 30px;
				box-sizing: border-box;
				/* border-bottom: 1px solid #de6a0a; */
				> span.doc{
					display: inline-block;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #fff;
					margin-left: 35px;
					margin-right: -43px;
				}
				a{
					text-decoration: none;
					color: #666;
					font-size: 16px;
					font-family: "MicrosoftYahei";
					outline: none;
					display: inline-block;
					width: 190px;
					padding-left: 10px; 
				}
			}
			>li.active{
				background: #fff6f1;
				border-left: 4px solid #ff6f3d;
				>a{
					color: #000;
					padding-left: 6px;
				}
			}
		}
		&:after{
			position: absolute;
			top:26px;
			right: 1px;
			margin-top:-6px;
			border:7px solid transparent;
			border-left: 7px solid #999;
			content: '';
		}
	}
	> ul >li.active-li{
		&:after{
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); 	/* IE 9 */
			-moz-transform:rotate(90deg); 	/* Firefox */
			-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
			-o-transform:rotate(90deg); 	/* Opera */
		}
	}
	>ul >li.spc{
		>a{
			color: #ff6f3d;
			font-weight: bold;
			i{
				color: #ff6f3d;
			}
		}
		&:after{
			border:7px solid transparent;
			border-left: 7px solid #ff6f3d;
		}
	}
}