body {
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.main .con-right .workarea {
  padding-left: 20px;
}
.main .con-right .workarea .work-top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.main .con-right .workarea .work-top h2 {
  display: inline-block;
  padding-top: 17px;
  font-size: 16px;
  margin-bottom: 15px;
}
.main .con-right .workarea .work-top div.search-panel {
  float: right;
}
.main .con-right .workarea .work-top div.search-panel .form-group {
  display: inline-block;
}
.main .con-right .workarea .work-top div.search-panel .form-group input {
  border-radius: 4px 0 0 4px;
  color: #9e9e9e;
  width: 180px;
  height: 33px;
  font-size: 14px;
}
.main .con-right .workarea .work-top div.search-panel .form-group .input-group-btn {
  border-radius: 0 2px 2px 0;
  display: inline;
}
.main .con-right .workarea .work-top div.search-panel .form-group .input-group-btn #search-btn {
  height: 33px;
}
.main .con-right .workarea .work-top div.search-panel a .plus-btn {
  font-size: 14px;
  margin-left: 10px;
}
.main .con-right .workarea .work-top div.search-panel a .plus-btn i {
  padding-right: 5px;
}
.main .con-right .workarea .work-content {
  width: 100%;
}
.main .con-right .workarea .work-content .table th,
.main .con-right .workarea .work-content .table td {
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: center;
}
.main .con-right .workarea .work-content .table td[title] {
  text-align: left;
}
.main .container {
  padding: 0;
}
